@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
  /* COLORS */
  --gr-color-primary: #ffffff;
  --gr-color-secondary: #000000;

  /* BACKGROUNDS */
  --gr-background-primary: #ffd6ff;
  --gr-background-secondary: #b8c0ff;
  --gr-background-hover: #457b9d;
  --gr-background-shadow: #ffffff;
  --gr-background-button: #daebff;

  /* MARGINS */
  --gr-margin-xs: 10px;
  --gr-margin-s: 15px;
  --gr-margin-m: 20px;
  --gr-margin-l: 30px;
  --gr-margin-xl: 40px;
  --gr-margin-xxl: 50px;

  /* PADDINGS */
  --gr-padding-xs: 10px;
  --gr-padding-s: 15px;
  --gr-padding-m: 20px;
  --gr-padding-l: 30px;
  --gr-padding-xl: 40px;
  --gr-padding-xxl: 50px;

  /* BORDERS */
  --gr-border-xs: 10px;
  --gr-border-s: 15px;
  --gr-border-m: 25px;
  --gr-border-l: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kanit;
}

body {
  display: flex;
  justify-content: space-around;
  background-color: var(--gr-background-primary);
  /* position: absolute; */
  position: relative;
  min-height: 100vh;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: var(--gr-margin-s);
  padding: var(--gr-padding-s);
  border-radius: var(--gr-border-m);
}

.products {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  flex-wrap: wrap;
  margin: var(--gr-margin-s);
  padding: var(--gr-padding-s);
  border-radius: var(--gr-border-m);
}

@media (max-width: 2480px) {
  .products {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 2211px) {
.products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1940px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1669px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1398px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1127px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 810px) {
  body {
    flex-wrap: wrap;
    align-content: center;
  }

  .filter {
    position: absolute;
    flex-wrap: wrap;
    width: 90%;
    height: 200px;
  }

  .products {
    margin: 200px 0px;
    padding: var(--gr-padding-m);
  }
}

@media (max-width: 590px) {
  .filter {
    box-shadow: none;
    flex-direction: row;
    margin: var(--gr-margin-xs);
    padding: var(--gr-padding-xs);
  }

  .products {
    margin: 230px 0px;
  }
}

@media (max-width: 490px) {
  .filter {
    flex-direction: row;
    justify-content: center;
    margin: var(--gr-margin-xs);
    padding: var(--gr-padding-xs);
  }
}